.outer{
    background-color: #e7bd7e;
    
}
html{
    scroll-behavior: smooth;
}
.heading{
    text-align: center;
    font-size: 50px;
    font-weight:600;
    color: #d49068;
    font-family: 'Courier New', Courier, monospace;
}
.subhead{
    text-align: center;
    font-size: 25px;
    
}
.location{
    margin-top: 10px;
    border: 1px transparent;
    border-radius: 20px;
}
.loc{
    border-radius: 15px;
}

.loc1{
    border-radius: 150px;
}

.maindiv{
    background-color: #4f0404;
}
.subhead{
    color: #d49068;
    font-size: 25px;
}
.navbg{
    background-color: #4f0404;
    
}
.navtext1{
    color: #c4b5ad;
    margin-left:auto;
    margin-right: auto;
    font-size: large;
}

.mainimg{

border: 3px solid #4f0404;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.para2{
    font-size: 20px;
}
    


 



  
.aboutw1{
    background-color: #4f0404;
    color: #d49068;
    border-radius: 20px;
    text-align: center;
    padding:5px;
    
}
.aboutw1 h3{
text-align: center;
}
.sliderbaba{
    height: 500px;
    width: 100%;
}
.slideedit{
    border: 3px solid #4f0404;
    border-radius: 5px;
}
.slideedit1{
    border-radius: 5px;
}

.bgenquiry{
    background-color: #4f0404;
    color: #d49068;
    border-radius: 20px;
    margin-top: 20px;
}
.label-tag{
    border: 3px solid #c4b5ad;
    
}

.formenquiry{
    
}

.inputbox{
    background-color: #c4b5ad;
}

.bs{
    background-color: #4f0404;
    color: #d49068;
}

